@import "variables";

.card {
  background-color: $neutral-colour-100;
  color: $neutral-colour-800;
}

.navbar {
  background-color: $neutral-colour-700;
  //  background-color: $neutral-accent-600;
}
.action-panel {
  background-color: $neutral-accent-700;
}

.hidden-pocket-cards .card {
  background-color: $neutral-accent-400; // $neutral-colour-100;
}

%seat {
  background-color: $primary-colour-700;
}
