@import "variables";

.card {
  background-color: $neutral-colour-100;
  color: $neutral-colour-800;
}

.navbar {
  //background-color: $neutral-colour-700;
  background-color: $neutral-colour-700; // #e8e9f3; // #a18276; // #39a9db; // #39a9db;
  //  background-color: $neutral-accent-600;
  color: $neutral-colour-100;
}
.action-panel {
  background-color: transparent;
}

.hidden-pocket-cards .card {
  background-color: $neutral-accent-100; // $neutral-colour-100;
}

%seat {
  background-color: $primary-colour-700;
}
