/*** Variables ***/

/*
---------------------------------
  Colours
---------------------------------
*/

$primary-colour-100: #edf6fc;
$primary-colour-200: #a0d7ff;
$primary-colour-300: #4bb3fd;
$primary-colour-400: #14a1ff;
$primary-colour-500: #027cce;
$primary-colour-600: #015c99;
$primary-colour-700: #014877;
$primary-colour-800: #39a9db;
$primary-colour-900: #003856;

$neutral-colour-100: #e5f1f9;
$neutral-colour-200: #dee2e2;
$neutral-colour-300: #cee2e2;
$neutral-colour-400: #5d8989;
$neutral-colour-500: #4f535b;
$neutral-colour-600: #244242;
$neutral-colour-700: #243942;
$neutral-colour-800: #131414;

$neutral-accent-100: #cfe8f9;
$neutral-accent-200: #a0c9e5;
$neutral-accent-300: #6698ba;
$neutral-accent-400: #56819e;
$neutral-accent-500: #495c68;
$neutral-accent-600: #213b4f;
$neutral-accent-700: #172630;
$neutral-accent-900: #121b21;

//2c3e50
//$gradient: radial-gradient($neutral-accent-900, $neutral-accent-600);
$gradient: radial-gradient($neutral-accent-600, $neutral-accent-900);

//$success-accent-100:
//$success-accent-200:
//$success-accent-300:
//$success-accent-400:
//$success-accent-500:
//$success-accent-600:
//$success-accent-700:
//
//$warning-accent-100:
//$warning-accent-200:
//$warning-accent-300:
//$warning-accent-400:
//$warning-accent-500:
//$warning-accent-600:
//$warning-accent-700:
//
//$danger-accent-100:
//$danger-accent-200:
//$danger-accent-300:
//$danger-accent-400:
//$danger-accent-500:
//$danger-accent-600:
//$danger-accent-700:

// table gradient should comprise of mixed palette colours
$dark-imperial-blue: #003e60;

$anti-flash-white: white; // #F0EFF4;

$prussian-blue: #003049;
$dark-cerulean: #064789;
$eerie-black: #161925;
$deep-space-purple: #415a77;

$outer-space-grey: #424b54;

$color-grey-400: $outer-space-grey;

// or
$orioles-orange: #f34213; // perhaps busies the palette too much

// App colours
$color-primary: $prussian-blue;
$color-secondary: $dark-imperial-blue;
$color-accent: $orioles-orange;
$color-light: $deep-space-purple;
$color-darkest: $eerie-black;

$color-brand: $prussian-blue;

// gradients
$gotham: radial-gradient(#240b36, $dark-imperial-blue);

$witching-hour: radial-gradient(#c31432, #240b36);
$night-hawk: radial-gradient(#2980b9, #2c3e50);
$red-mist: radial-gradient(#e74c3c, #000000);
$namn: linear-gradient(#a73737, #7a2828);

// Brand colours
$color-facebook: #3b5998;
$color-feedly: #2bb24c;
$color-github: #333;
$color-google: #dc4e41;
$color-instagram: #3f729b;
$color-linkedin: #0077b5;
$color-medium: #00ab6b;
$color-messenger: #0084ff;
$color-rss: #f26522;
$color-spotify: #2ebd59;
$color-twitter: #55acee;

// Borders
$border-light: solid 1px rgba(0, 0, 0, 0.05);

/*
---------------------------------
  Media queries
---------------------------------
*/

// Very small devices such as small phones
$screen-xs-min: 376px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 798px;

// Tablets and small desktops
$screen-lg-min: 1222px;

// Large tablets and desktops
$screen-xl-min: 1250px;

// Large tablets and desktops
$screen-xxl-min: 1600px;

/*
---------------------------------
  Animation
---------------------------------
*/

// Animation
$anime-in: 0.4s;
$anime-out: 0.5s;
