/* Main App Grid */
@import "layout/app";

/* Improt common modules */
@import "common";

/* Components */
@import "components/game";
@import "components/footer";
@import "components/navbar";
@import "components/buttons";
@import "components/lobby";

@import "components/forms";

// Main Layout Colours
html {
  color: $neutral-colour-100;
  background: $gradient; // #10212d;
  height: 100%;
}
