.action-panel {
  grid-column-start: 2;
  grid-row-start: 2;
  width: 70%;
  margin: auto;
  grid-row-end: 4;
  display: flex;

  @include md {
    border-radius: 3em 3em 0 0;
  }
}

.user-actions-container {
  margin: auto;
}
