.board-cards {
  justify-self: center;
  align-self: center;
  grid-area: 3/1/5/6;
}

.board-cards-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-self: center;
  align-self: center;
}
